.board-bg-color {
  background-color: #2d3436;
}

.cup-image-column {
  text-align: center;
  transition: all 0.5s ease-out;
  /* max-width: 50%; */
}
.cup-image-column-not-selected {
  max-width: 0%;
}
.cup-image-column-selected {
  margin: 0 auto;
}

.cup-image {
  margin: 0 auto;
  /* width: 300px; */
}
