.board-bg-color {
  background-color: #2d3436;
}

.cup-image-column {
  text-align: center;
  transition: all 0.5s ease-out;
  /* max-width: 50%; */
}
.cup-image-column-not-selected {
  max-width: 0%;
}
.cup-image-column-selected {
  margin: 0 auto;
}

.cup-image {
  margin: 0 auto;
  /* width: 300px; */
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

.final-image-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
}

.final-image {
  max-width: 400px;
}
