.create-container {
  margin: 0 auto;
  max-width: 1048px;
  min-width: 200px;
  padding-top: 40px;
}

.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  padding: 20px;
}

.steps-action {
  margin-top: 24px;
  float: right;
}
