@import "~antd/dist/antd.css";
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.ant-page-header {
  border-bottom: 1px solid #f1f2f3;
}
.ant-layout-sider {
  flex: 0 0 256px;
  max-width: 256px !important;
  min-width: 256px !important;
  width: 256px !important;
}
@media (max-width: 1200px) {
  .ant-layout-sider {
    flex: 0 0 50px;
    max-width: 50px !important;
    min-width: 50px !important;
    width: 50px !important;
  }
}
.ant-layout-content {
  margin: 0 !important;
  min-height: 100vh;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
